.f-form {
  display: flex;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  background-color: var(--forms-bg-color);
  padding: 0;
  min-width: 21rem;
  min-height: 2.5rem;
}
.f-form input,
.f-form button {
  font-size: 1.1rem;
  margin: 0.25rem;
  outline: none;
  border: 2px solid transparent;
  border-radius: 2rem;
  background-color: transparent;
}
.f-form input::placeholder {
  color: var(--forms-color);
}
.f-form input[type="text"] {
  margin: 0.25rem 0.5rem 0.25rem 1rem;
}
.f-form input[type="submit"]:hover,
.f-form button:hover {
  border: 2px solid var(--btn-border-color-hover);
}
.f-form input[type="submit"]:active,
.f-form button:active {
  background-color: var(--btn-bg-color-active);
}

@media (prefers-color-scheme: light) {
  .f-form {
    background-color: var(--forms-bg-color-light);
  }
  .f-form input::placeholder {
    color: var(--forms-color-light);
  }
  .f-form input[type="submit"]:active,
  .f-form button:active {
    background-color: var(--btn-bg-color-active-light);
  }
}
